body {
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
}

#sec_pelicula {
    display: flex;
    justify-content: center;
}

.contenedorPeliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    width: 100%;
    max-width: 1000px;
    grid-gap: 25px;
    background-color: rgb(184, 176, 176);
}

.contenedorPeliculas img {
    width: 200px;
    /* height: 300px; */
    border-radius: 15px;
    margin: 15px;
    margin-bottom: 5px;
}

.contenedorPeliculas h3 {
    font-size: 16px;
    font-weight: 600;
}

.contenedorPeliculas p {
    color: #288BA8;
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    
}

.paginacion {
    position: static;
    bottom: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}

.paginacion button {
    cursor: pointer;
    border: 20px solid 
    ;
    border-radius: 30px 30px;
    background: rgb(41, 7, 105);
    color: white;
    font-family: 'Monserrat', sans-serif;
    font-size: larger;
    padding: 0px 20px;
    transition: 0.3s ease all;

}

.paginacion button:hover {
    background-color: var(--color-back-active);
}

.contenedorPeliculas button {
    cursor: pointer;
    background: #7f8c8d;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    font-size: small;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    margin-right: 10px;
    width: 150px;
    border-radius: 50px;
}
.contenedorPeliculas button:hover{
    box-shadow: 0px 0px 0px;
}